<form (ngSubmit)="submitQuote()" class="card-body" style="margin-top: 0.5in;">
    <div class="text-center">

        <h3 class="white-text"> Add Quote <i class="fas fa-quote-right"></i>
        </h3>
        <hr class="hr-light">
    </div>

    <!--Body-->

    <div class="md-form">
        <label for="form3">Person's name</label>
        <i class="fas fa-user prefix white-text"></i>
        <input type="text" id="form3" class="form-control " name="publisher" [(ngModel)]="quoteEditor" #name='ngModel'>

    </div>
    <div class="md-form">
        <label for="form2">Quotes</label>
        <i class="fas fa-quote-left prefix white-text"></i>
        <input type="text" id="form2" class="form-control" name="quote" [(ngModel)]="quoteWords">

    </div>

    <div class="md-form">
        <label for="form4">Author</label>
        <i class="fas fa-user prefix white-text"></i>
        <input type="text" id="form4" class="form-control" name="author" [(ngModel)]="quoteAuthor" #author='ngModel'>

    </div>
    <div class="md-form">
        <label class=" white-text" for="form5">Quote Date</label>
        <i class="far fa-clock prefix white-text"></i>
        <input type='date' id="form5" class="form-control white-text" name="entryDate" [(ngModel)]="quoteDate">

    </div>
    <div class="text-center">
        <button type="submit" mdbBtn color="indigo" class="waves-light btn btn-info" mdbWavesEffect>Post Quote</button>
        <hr class="hr-light mb-3 mt-4">

        <div class="inline-ul text-center d-flex justify-content-center">
            <a class="icons-sm tw-ic px-4" href="#"><i class="fab fa-twitter white-text"></i></a>
            <a class="icons-sm li-ic px-4"><i class="fab fa-linkedin-in white-text" href="#">
        </i></a>
            <a class="icons-sm ins-ic px-4" href="#"><i class="fab fa-github"></i></a>
        </div>
    </div>
</form>