<div id="details">
    <p>Author : &nbsp;{{quote.author}}</p>
    <p>Publisher : &nbsp;{{quote.name}}</p>
    <p>Date :&nbsp; <span style="
        display: inline;
        font-weight: bolder;
        color: darkmagenta;
        letter-spacing: 1px;
      ">
      {{ quote.entryDate|date }}
    </span> </p>
    <p>Time Passed : <span style="text-decoration: underline;">{{ quote.entryDate | timePass }}</span></p>
    <p> This Quote was Posted : <span style="
      font-weight: bolder;
      color: seagreen
    "> {{quote.entryDate|dateCount}} days ago</span> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)='quoteDelete(true)'><span class="material-icons">
        delete
      </span></button> </p>
</div>