<div class="jumbotron" style="background-image: url(assets/bg.jpg); background-repeat: no-repeat; background-size: cover;">
    <section class="container flex">
        <div class="row flex">
            <div class="col-md-6 text-center text-md-left text-md-left mb-5">
                <div class="white-text" style="color: green;">
                    <h2 class="font-bold wow fadeInLeft" style="color:deeppink;" data-wow-delay="0.3s">FAMOUS QUOTES</h2>
                    <div class="col-md-8 content text-left">
                        <div *ngFor="let quote of quotes; let i = index" style="font-size: medium;">

                            <p appHighlight *ngIf="highestUpvote() === quote.upvotes && quote.upvotes > 0">
                                {{quote.quote}} </p>
                            <p appHighlight *ngIf="highestUpvote() !== quote.upvotes || quote.upvotes === 0">
                                {{ quote.quote }}
                            </p>
                            <app-quote-details *ngIf='quote.quote' [quote]="quote" (isComplete)='delQuote($event,i)'>
                            </app-quote-details>
                            <button type="button" class="btn btn-outline-primary" (click)="upVote(i)">&nbsp;<span
                  class="material-icons">
                  thumb_up
                </span></button>&nbsp;
                            <button class="btn btn-outline-secondary" (click)="downVote(i)">
                &nbsp;<span class="material-icons">
                  thumb_down
                </span></button>&nbsp;
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-5 offset-xl-1" style="position: absolute;top: 185px; right: 10px;">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <app-form (postQuote)="addNewQuote($event)"></app-form>
            </div>
            <!--/.Form-->
        </div>

    </section>
</div>