.jumbotron {
    background-image: url('../../assets/imgs/bg_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row1 {
    width: 70rem;
    color: cyan;
    margin-bottom: 10px;
}

mat-card {
    margin-bottom: 20px;
}