<div class="container-fluid">
    <h3 class="text">Add Quote</h3>
    <hr class="hr-light mb-3 mt-4" />

    <form (ngSubmit)='submitQuote();quoteForm.resetForm({})' #quoteForm='ngForm'>
        <!--Body-->

        <div class="form-group">
            <span class="material-icons">
        person_outline
      </span>
            <label for="publisher">Publisher's name </label>
            <input type="text" id="publisher" class="form-control" name="name" [(ngModel)]="newQuote.name" #publisher="ngModel" required>
            <div [hidden]="publisher.valid || publisher.pristine" class="validations">
                <p>Name is required</p>
            </div>
        </div>

        <div class="form-group">
            <span class="material-icons">
        format_quote
      </span>
            <label for="quote">Quotes </label>
            <input type="text" id="quote" class="form-control" name="quote" [(ngModel)]="newQuote.quote" #quote="ngModel" required>
            <div [hidden]="quote.valid || quote.pristine" class="validations">
                <p>A quote is required</p>
            </div>
        </div>

        <div class="form-group">
            <span class="material-icons">
        person_outline
      </span>
            <label for="author">Author </label>
            <input type="text" id="author" class="form-control" name="author" [(ngModel)]="newQuote.author" #author="ngModel" required>
            <div [hidden]="author.valid || author.pristine" class="validations">
                <p>Author is required</p>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success" [disabled]="!quoteForm.form.valid">
        Post Quote
      </button>
            <hr class="hr-light mb-3 mt-4" />
            <div class="d-flex justify-content-between">

                <a class="animate" href="#"><img src="assets/social/linkedIn.png" alt="linkedIn" /></a>
                <a class="animate" href="#"><img src="assets/social/twitter.png" alt="twitter" /></a>
                <a class="animate" href="#"><img src="assets/social/github.png" alt="github" /></a>
            </div>
        </div>
    </form>
</div>